
body {
    height: 100%;
    background-color: rgba(11, 12, 16, 0.85);


}

#email h3 {
    text-shadow: none;
    font-family: 'Times New Roman', Times, serif;
}

ul {
    list-style: none;
    color: #63F2D8;
    margin: 10px;
}

h2 {
    font-size: 30px;

}

h3 {
    font-family: "Racing Sans One", sans-serif;
    text-shadow: 0 0 0px #2ee, 0 0 0px #2ee, 0 0 10px #00ffff;


}

h1 {
    font-size: 50px;
    font-family: "Racing Sans One", sans-serif;

}

a {
    color: #63F2D8;
}

html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    /*background-image: url("../images/csce.jpg");*/
}

main {
    display: block;
    overflow: auto;
    /* overflow-y: scroll; */
    scrollbar-color: #63F2D8 #0B0C10;
}

#all {
    flex: 1;
    color: #63F2D8;
    background-color: rgba(11, 12, 16, 0.85);
    border: 4px solid #0B0C10;
    box-shadow: 3px 3px 10px 6px #0B0C10;
    margin: 25px;
    padding: 10px;
    margin-top: 0;
    align-items: center;
}

#all h2 {
    text-align: center;
}

#all {
    text-align: center;
    font-size: x-large;
    height: 50%;
}

html,
body,
#root {
    height: 100%;
    margin: 0;
    padding: 0;
}

.app-root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.app-root main,
.app-main,
main {
    flex: 1 1 auto;
    min-height: 0;
    box-sizing: border-box;
    padding-bottom: 1rem;
}

footer,
.site-footer {
    flex-shrink: 0;
}

.header-fixed+.app-main,
.header-fixed+main {
    padding-top: 70px;
    /* match your header height */
}
/* ::-webkit-scrollbar-track {
  background: #0B0C10;
}

::-webkit-scrollbar-thumb {
  background-color: #63F2D8;
} */
@media (max-width: 768px) {

    html,
    body {
        height: 100%;
        width: 100%;
        margin: 0;
        margin-left: 0%;
        display: flex;
        flex-direction: column;
        /*background-image: url(images/csce.jpg);*/
        color: #63F2D8;
    }

    body,
    h1,
    h2,
    p {
        margin: 0;
        padding: 0;
    }

    body {
        height: 100vh;
    }

    main {
        display: block;
        overflow: auto;
        flex: 1;
    }
}