#create {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 0px;
    /* padding: 10px; */

}
.create-header h1 {
    font-size: 55px;
    font-family: "Racing Sans One", sans-serif;
    text-shadow: 0 0 0px #2ee, 0 0 0px #2ee, 0 0 10px #00ffff;
}

.create-header {
    margin-top: -50px;
}

h5 {
    margin-top: -40px;
    color: #F6F5F3
}

.movie {
    font-size: large;
    /* margin-top: 20px; */
}

.movie img {
    width: 60%;
}

#movieBtn {
    position: absolute;
    top: 235px;
    left: 170px;
    font-size: 15px;
    padding: 10px;
    color: #63F2D8;
    background: #0B0C10;
    border: 2px solid #63F2D8;
    cursor: pointer;
    box-shadow: 0 0 0px #2ee, 0 0 0px #2ee, 0 0 10px #00ffff;

}
@media(max-width: 768px){
    .create-header{
        padding:0;
        margin:0;
    }
    .create-header h5{
        position:relative;
        top:60px;

    }
    .movie{
        margin-top:40px;
    }

    #title h1{
        font-size:38px;
    }
    #create{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}