#mainSec-nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgba(11, 12, 16, 0.55);
    margin-top: 0px;
    padding-bottom: 40px;
    padding: 20px;
    padding-top: 20px;
    margin-left: -8px;
    margin-right: -8px;
    border-bottom: 2px solid #63F2D8;
    z-index: 1001;
    width: 97.7%;
}

#mainSec-nav #sec-nav {
    flex: 1;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid #49A69C;

}

#mainSec-nav a {
    text-decoration: none;
    list-style: none;
    color: #49A69C;
    margin-left: 100px;
    margin-right: 100px;
}

#mainSec-nav a:hover {
    color: #296f68;
}

#sec-nav ul {
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5px;
    align-items: center;
    padding: 0px;
    /* margin-left: 60px;
    margin-right: 60px; */
}
.hide-small {
    display:flex;
}
#menu-toggle {
    display:none;
}
@media (max-width: 768px) {
   
    #title #new-menu {
        /* display: none; */
        flex-direction: column;
        text-align: center;
    }
    #mainSec-nav a {
        margin-left: 20px;
        margin-right: 20px;
        /* display: flex; */
    }

    #mainSec-nav {
        width: 95.4%;
        display: block;
    }

    #sec-nav ul{
        flex-direction: column;
        gap:10px;
    }
    nav, .main-nav, #sec-nav{
        display:flex;
    }
    nav{
        position:relative;
        z-index:1000;
    }
    #new-menu{
        flex:1;
    }
    #hidden {
        display:flex;
    }
     #menu-toggle {
        display:block;
        cursor: pointer;
        position:absolute;
        top:-100px;
        right:87px;
        font-size: 30px;
    }
    #new-menu.hide-small{
        display:none;
    }
    /* #mainSec-nav.active {
        display: flex;
    } */
}