.modal-body {
    position: absolute;
    top: 18%;
    left: 20%;
    padding-top: 2%;
    width: 50%;
    background: black;
    z-index: 1100;
    text-align: center;
    border: 2px solid;
    padding:5%;
}

img {
    width: 90%;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1100;
}

.modal-close {
    z-index: 1200;
    position:absolute;
    left:76%;
    top:20%;
    background:none;
    color: #49A69C;
    border: none;
    font-size:xx-large;
    cursor:pointer;

}
.edit{
    display: flex;
    flex-direction: row;
    position: absolute;
    top:20px;
    left:30px;
    gap:20px;
}
@media (max-width: 768px) {
    .modal-close {
    z-index: 1200;
    position:absolute;
    left:78%;
    top:27%;
    background:none;
    color: #49A69C;
    border: none;
    font-size:xx-large;
    cursor:pointer;

}
    .modal-body{
        left:15%;
        top:25%;
        padding:10%;
    }
}