#forward-arrow {
    position: absolute;
    right: 100px;
    top: 65%;
    text-shadow: 0 0 10px #2ee, 0 0 10px #2ee, 0 0 10px #00ffff;
    cursor: pointer;
    z-index: 1000;
    font-size: xx-large;
    padding: 5px;
    background: rgba(0, 0, 0, .75);


}

#backward-arrow {
    position: absolute;
    top: 15%;
    left: 100px;
    text-shadow: 0 0 5px #2ee, 0 0 5px #2ee, 0 0 10px #00ffff;
    cursor: pointer;
    z-index: 1000;
    font-size: xx-large;
    background: rgba(0, 0, 0, .75);
    padding: 5px;

}

#blogP {
    text-align: center;
    margin-left: 20px;
    position: absolute;
    top: 80%;
    width: 80%;
}

#slideshow {
    align-items: center;
}

img {
    margin-top: 20px;
    width: 100%;
    height:80%;
    object-position:center;
    object-fit:cover;
}

@media(max-width:768px) {
    #backward-arrow {
        top: 80%;
        left: 100px;
    }

    #forward-arrow {
        position: absolute;
        right: 100px;
        top: 80%;
    }

    #slide-bio{
        text-align: center;
        margin-left: 20px;
        position: absolute;
        top: 95%;
        left: 17px;
        width: 80%;
        display: block;
        background: rgba(0, 0, 0, .85);
        padding: 18px;
        padding-left: 23px;
        padding-right: 23px;
        font-size: large;
    }
}