#forward-arrow {
    position: absolute;
    right: 210px;
    top: 40%;
    text-shadow: 0 0 10px #2ee, 0 0 10px #2ee, 0 0 10px #00ffff;
    cursor: pointer;
    z-index: 1000;
    font-size: xx-large;
    padding: 5px;
    background: rgba(0, 0, 0, .75);


}

#backward-arrow {
    position: absolute;
    top: 40%;
    left: 230px;
    text-shadow: 0 0 5px #2ee, 0 0 5px #2ee, 0 0 10px #00ffff;
    cursor: pointer;
    z-index: 1000;
    font-size: xx-large;
    background: rgba(0, 0, 0, .75);
    padding: 5px;

}

#blogP {
    text-align: center;
    margin-left: 20px;
    position: absolute;
    top: 80%;
    width: 80%;
}

#slideshow {
    position: relative;
    align-items: center;
    min-height: 500px;
    height: 600px;
    width: 102.5%;
    display: flex;
    justify-content: center;
}

#slideshow img {
    margin-top: 20px;
    width: 1100px;
    height: 80%;
    display: block;
    object-position: center;
    object-fit: cover;
}

#slide-bio {
    text-align: center;
    margin-left: 20px;
    position: absolute;
    top: 75%;
    left: 122px;
    width: 79.5%;
    display: block;
    background: rgba(0, 0, 0, .85);
    padding: 22px;
    padding-left: 0px;
    padding-right: 0px;
    font-size: large;
}

@media(max-width:768px) {
     #slideshow {
        min-height: 400px;
        height:400px;
    }
    #slideshow img {
        margin-top: 20px;
        width: 100%;
        max-width: 100%;
        height: 300px;
        margin-left: -15px;
    }

    #backward-arrow {
        top: 40%;
        left: 100px;
    }

    #forward-arrow {
        position: absolute;
        right: 100px;
        top: 40%;
        z-index: 1000;
    }

    #slide-bio {
        text-align: center;
        margin-left: 0px;
        position: absolute;
        top: 70%;
        left: -20px;
        width: 98%;
        display: block;
        background: rgba(0, 0, 0, .85);
        padding: 15px;
        padding-left: 23px;
        padding-right: 23px;
        font-size: medium;
    }
}